.user {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  color: hsl(0, 0%, 24%);
  line-height: 18px;
}

.user-info {
  display: flex;
  background: hsl(0, 0%, 99%);
  min-width: 300px;
  flex-direction: column;
  align-content: center;
  box-shadow: 4px 0 12px hsla(0, 0%, 80%, 0.4)
}

.user-wrapper {
  margin: 24px;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.user-wrapper > img {
  height: auto;
  width: 100%;
  max-width: 200px;
  border-radius: 100%;
}

.user-wrapper > h3 {
  font-size: 16px;
  font-weight: 400;
  color: black;
  margin-block-end: 0;
}

.user-wrapper > blockquote {
  position: relative;
  width: calc(100% - 48px);
  background-color: hsl(0, 0%, 95%);
  color: hsl(0, 0%, 60%);
  border-left: 3px solid black;
  margin: 16px 0;
  padding: 12px 24px;
  line-height: 1.5;
  font-style: italic
}

.user-wrapper > blockquote::before {
  content: '\201C';
  font-size: 3em;
  position: absolute;
  left: 6px;
  top: -6px;
  color: black;
}

.action-btn {
  width: 200px;
  font-family: "Google Sans";
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid hsl(0, 0%, 90%);
  border-width: 1px;
  padding: 8px 0;
  margin-block-end: 8px;
  background: hsl(0, 0%, 99%);
  color: inherit;
  cursor: pointer;
}

.about {
  align-self: flex-start;
  user-select: none;
  color: hsl(0, 0%, 50%);
  transition: color .1s ease-in;
}

.about:hover {
  color: inherit;
  cursor: pointer;
}

.user-content {
  display: flex;
  flex: 1;
  overflow: auto;
}

.user-counters {
  display: flex;
  min-width: 258px;
}
