.input-wrapper {
  width: max-content;
  margin: 20px 0;
  position: relative;
}

.input-wrapper > input {
  background: none;
  min-width: 230px;
  border: 0;
  border-bottom: 2px solid #ccc;
  transition: all 0.15s ease;
}

.input-wrapper > label {
  z-index: -999;
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 16px;
  color: #9098a9;
  font-weight: 500;
  transform-origin: 0 0;
  transition: all 250ms ease-in;
}

.input-wrapper > .border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #0077ff;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: all 300ms ease-out;
}

.input-wrapper > input:focus {
  background: none;
  outline: none;
}
.input-wrapper > input:focus ~ label {
  transform: translateY(-18px) scale(0.75);
}
.input-wrapper > input:not(:placeholder-shown) + label {
  transform: translateY(-18px) scale(0.75);
}
.input-wrapper > input:focus ~ .border {
  transform: scaleX(1);
}
