.login {
  display: flex;
  width: 100vw;
  height: 100vh;
  line-height: 1.5;
}

.login-form {
  display: flex;
  width: max-content;
  flex-direction: column;
  margin: auto;
  color: hsl(0, 0%, 70%);
}

.input-wrapper {
  position: relative;
  margin-block-end: 20px;
}

.input-wrapper > input {
  background: none;
  min-width: 230px;
  border: 0;
  border-bottom: 2px solid hsl(0, 0%, 90%);
  padding: 4px 0;
  transition: all .2s ease;
}

.input-wrapper > label {
  z-index: -999;
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 14px;
  transform-origin: 0 0;
  transition: all .25s ease-in;
}

.input-wrapper > .border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: hsl(0, 0%, 20%);
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: all .3s ease-out;
}

.input-wrapper > input:focus {
  background: none;
  outline: none;
}
.input-wrapper > input:focus ~ label {
  transform: translateY(-14px) scale(0.75);
}
.input-wrapper > input:not(:placeholder-shown) + label {
  transform: translateY(-14px) scale(0.75);
}
.input-wrapper > input:focus ~ .border {
  transform: scaleX(1);
}

.login-form > input[type='submit'] {
  border: 1px solid hsl(0, 0%, 90%);
  border-radius: 5px;
  background: hsl(0, 0%, 97%);
  color: hsl(0, 0%, 5%);
  font-family: inherit;
  font-size: 18px;
  font-weight: 600;
  padding: 8px;
  transition: all .1s ease-in-out;
}

.login-form > input[type='submit']:hover {
  background: hsl(0, 0%, 5%);
  color: hsl(0, 0%, 90%);
  transition: all .1s ease-in-out;
}
