.dev {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.dev > h1 {
  font-size: 32px;
  margin: 0;
  padding: 8px 0;
  line-height: 1.2;
}
.dev > p {
  margin: 0;
  padding-block-end: 12px;
}
