.side-menu {
  display: grid;
  height: 100%;
  background: hsl(210, 100%, 95%);
  color: hsl(220, 50%, 30%);
}

.menu-entry {
  display: grid;
  align-content: center;
  padding: 10px;
}
.menu-entry:hover {
  color: hsl(210, 100%, 95%);
  background: hsl(220, 50%, 30%);
}

.active {
  background: hsl(210, 100%, 70%);
  color: white;
}
