.side-menu {
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background: hsl(0, 0%, 95%);
  color: hsl(0, 0%, 20%);
  height: inherit;
  width: 128px;
  z-index: 1;
  transition: .5s;
}

.side-menu.hidden {
  /*display: none;*/
  width: 0;
}

.menu-entry {
  transition: .1s;
  font-family: inherit;
  width: inherit;
  display: flex;
  flex: 1;
  box-sizing: border-box;
  align-items: center;
  padding: 8px 12px;
  font-style: normal;
}

.menu-entry-icon {
  width: 25px;
  text-align: center;
}

.menu-entry-icon:before {
  font-size: 16px;
}

.menu-entry-text {
  font-size: 12px;
  text-align: left;
  padding: 4px 0 4px 8px;
}

.menu-entry:hover {
  transition: all .1s ease-in;
  color: hsl(0, 0%, 95%);
  background: hsl(0, 0%, 20%);
}

.active {
  transition: all .1s ease-in;
  background: hsl(0, 0%, 50%);
  color: white;
}