.side-menu {
  position: fixed;
  background: hsl(0, 0%, 24%);
  color: hsl(0, 0%, 95%);
  height: inherit;
  width: 240px;
  z-index: 1;
  overflow-x: hidden;
  transition: .15s ease-in;
  display: flex;
  flex-direction: column;
}
.side-menu.hidden {
  width: 0;
}

.menu-entry {
  flex: 1;
  display: flex;
  font-family: "Google Sans";
  box-sizing: border-box;
  align-items: center;
  padding: 12px 24px;
  font-style: normal;
}

.menu-entry-icon {
  width: 25px;
  text-align: center;
}

.menu-entry-icon:before {
  font-size: 18px;
}

.menu-entry-text {
  font-size: 14px;
  text-align: left;
  padding: 4px 0 0 8px;
}

.menu-entry:hover {
  transition: all .1s ease-in;
  color: hsl(0, 0%, 95%);
  background: hsl(0, 0%, 20%);
}

.active {
  transition: all .1s ease-in;
  background: hsl(0, 0%, 18%);
  color: hsl(0, 0%, 95%);
}