.post-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  overflow-y: auto;
  scroll-behavior: smooth;
}
.post {
  width: 600px;
  height: max-content;
  margin: 16px 24px;
  background: white;
  color: hsl(0, 0%, 5%);
  box-shadow: 0 4px 8px hsla(0, 0%, 70%, .3);
  line-height: 1.5rem;
}
.post-inner {
  height: max-content;
  border-left: 3px solid hsl(0, 0%, 90%);
  margin: 8px 0;
  background: hsla(0, 0%, 97%, .3);
  color: hsl(0, 0%, 5%);
  line-height: 1.5rem;
  box-shadow: none;
}


.post-header {
  display: flex;
  align-items: center;
  padding: 12px 20px 0;
}
.post-inner .post-header {
  padding: 8px 14px 0;
}

.post-header > img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.post-inner .post-header > img {
  width: 40px;
  height: 40px;
}

.post-header-author {
  margin: 0 14px;
}
.post-header-author > h1 {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}
.post-header-author > p {
  font-size: inherit;
  color: hsl(0, 0%, 70%);
  margin: 0;
}


.post-content {
  margin: 8px 20px;
}
.post-inner .post-content {
  margin: 8px 14px;
}
.post-content > p {
  margin: 0;
}

.post-content-attachments {
  padding: 4px 20px;
}
.post-inner .post-content-attachments {
  padding: 4px 14px;
}

.post-footer {
  height: 32px;
  background: hsl(0, 0%, 95%);
}

.photo-attachment tr,
.photo-attachment td,
.photo-attachment td > img {
  max-width: 100%;
  margin: 0;
}

.photo-attachment tr {
  display: flex;
}
.photo-attachment td {
  padding: 2px 2px;
}

.audio-list {
  display: flex;
  flex-direction: column;
  padding: 8px 0;
}
.track {
  display: flex;
  align-items: baseline;
  margin-block-end: 12px;
}
.track:last-child {
  margin: 0;
}
.track > span.fa {
  font-size: 10px;
}
.track-info {
  display: flex;
  flex-direction: column;
  padding: 0 8px;
  line-height: 1.2;
}
.track-title {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}
.track-artist {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  color: hsl(0, 0%, 60%);
}
